{%extends 'accounts/main.html' %}
{%load static%}
{%block title%}
	Category
{%endblock%}

{%block content%}

<br>
<div class="container-fluid">

<div class="row">
	<div class="col-md-12">
		<div class="">
			<div class="card card-body">
				<div class="card-title">
					<h5 class="float-left">Category</h5>	
					<a href="{%url 'createcategory' %}" class="btn btn-sm btn-warning float-right">
						<i class="far fa-plus-square"></i> Add New Product</a>					
				</div>				
			</div> 
			<div class="card card-body">
				<table id='categoryTable' class="table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Status</th>
              <th>Action</th>
            </tr>            
          </thead>
          <tbody>
          	{%for icategory in category%}
                      <tr>
                        <td>{{icategory.name}}</td>
                        <td class="status">                          
                        	{{icategory.status}}
                        </td>
                        <td>
                          <a href="{%url 'updatecategory' icategory.id %}" class="btn btn-sm btn-info"> <i class="fas fa-edit"></i></a>
                        </td>                                              
                      </tr>
            {%endfor%}          	
          </tbody>
				</table>
			
			</div>
		</div>
	</div>
</div>	
</div>
{%endblock%}

{%block  js%}
  <script>
      $(document).ready( function ()
        {
          $('#categoryTable').DataTable();
        } );
    </script>

{%endblock%}