{%extends 'accounts/main.html' %}
{%load static%}
{%block title%}
	expense
{%endblock%}

{%block content%}

<br>
<div class="container-fluid">

<div class="row">
	<div class="col-md-12">
		<div class="">
			<div class="card card-body">
				<div class="card-title">
					<h5 class="float-left">expense</h5>	
					<a href="{%url 'createexpense' %}" class="btn btn-sm btn-warning float-right">
						<i class="far fa-plus-square"></i> Add New Product</a>					
				</div>				
			</div> 
			<div class="card card-body">
				<table id='expenseTable' class="table">
          <thead>
            <tr>
              <th>expense</th>
              <th>Status</th>
              <th>Action</th>
            </tr>            
          </thead>
          <tbody>
          	{%for iexpense in expense%}
                      <tr>
                        <td>{{iexpense.name}}</td>
                        <td>
                        	{{iexpense.status}}
                        </td>
                        <td>
                          <a href="{%url 'updateexpense' iexpense.id %}" class="btn btn-sm btn-info"> <i class="fas fa-edit"></i></a>
                          <a href="" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                        </td>                                              
                      </tr>
            {%endfor%}          	
          </tbody>
				</table>
			
			</div>
		</div>
	</div>
</div>	
</div>
{%endblock%}

{%block  js%}
  <script>
      $(document).ready( function ()
        {
          $('#expenseTable').DataTable();
        } );
    </script>

{%endblock%}