    <div class="row">    
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 10px;">
                <div class="card-header">Total Orders</div>
                <div class="card-body">
                  <h5>{{total_order}}</h5>
                </div>
              </div>                
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin: 10px;">
                <div class="card-header">Orders Delivered</div>
                <div class="card-body">
                    <h5>{{delivered}}</h5>
                </div>
              </div>                
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; margin: 10px;">
                <div class="card-header">Orders Pending</div>
                <div class="card-body">
                  <h5>{{pending}}</h5>
                </div>
              </div>                
        </div>                
    </div>  